html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.main-fondo {
    background-color: #f0f0f0; /* Cambiar el color de fondo */
    background-image: url('https://img.freepik.com/free-photo/soccer-balloon-camp-monochrome-scene-generative-ai_188544-9745.jpg'); /* Imagen de fondo */
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center;
}

.text-con-fondo {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white; /* Texto blanco */
    padding: 20px; /* Espaciado alrededor del texto */
    font-size: 18px; /* Tamaño de fuente */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor */
    line-height: 1.6; /* Espaciado entre líneas */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}